.s_menu
    display: flex;
    margin-bottom: 30px 
    &__button
        position: relative;
        height: 40px 
        width: 25% 
        border: 1px solid #ff5722
        background-color: white;
        color: grey;
        text-indent: 40px;
        &:hover
            background-color: #ff5722
            transition: all .3s
            color: white
        &::before
            top: 50%
            background-repeat: no-repeat 
            left: 5px
            transform: translatey(-50%)
            background-size: contain;
            content: "" 
            display: block;
            position: absolute;
            width: 30px;
            height: 30px; 
        &:first-child
            border-top-left-radius: 10px
            border-bottom-left-radius: 10px
            &::before
                background-image: url(../../img/icon-1.png)
            &:hover
                &::before
                    background-image: url(../../img/icon-1-white.png)
        &:last-child
            border-top-right-radius: 10px
            border-bottom-right-radius: 10px
            &::before
                background-image: url(../../img/icon-4.png)
            &:hover
                &::before
                    background-image: url(../../img/icon-4-white.png)
        &:nth-child(2)
            &::before
                background-image: url(../../img/icon-2.png)
            &:hover
                &::before
                    background-image: url(../../img/icon-2-white.png)
        &:nth-child(3)
            &::before
                background-image: url(../../img/icon-3.png)
            &:hover
                &::before
                    background-image: url(../../img/icon-3-white.png)

    