.graphics 
  width: var(--wrp-width);
  margin: auto;
  padding: 6px 12px;
  font: var(--ft);


.center 
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

.border 
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
  box-shadow: 1px 1px 5px 2px hsla(0,0%,0%, 0.2);
