table
    border: 1px solid #000
    border-collapse: collapse
    padding-top: 10px   
td
    margin: 1px
    padding: 5px
    background-color: #fafaf0
    border: 1px solid #000

.td--active
    background-color: #ffaaff
