@import "base/general"

body
	text-align: center;
	color: white
	font-family: sans-serif;
	background-color: #f1f2f2 
.s_nav
	margin-bottom: 30px
.s_header
	height: 75px
	width: 100% 
	background-color: #3f51b5; 
	margin-bottom: 70px
.s_content
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px 
.s_leftBlock
	display: flex 
	max-width: 32%
	width: 100%
	flex-direction: column;
	min-height: 500px
.s_table
	background-color: #ffffff
	box-shadow: -5px 6px 26px 0px rgba(0,0,0,0.75);
	position: relative 
	padding: 15px
	margin-bottom: 40px

	&__input
		width: 35%
		border: 1px solid grey;
		border-radius: 5px
		font-size: 14px
		color: grey
		padding-left: 5px
		padding-top: 2px
		padding-bottom: 2px
		outline: none
	&__input:focus
		border: 1px solid #ff5722;
	&__button
		max-width: 200px
		width: 100% 
		padding: 5px
		color: white;
		font-size: 14px;
		font-weight: 500
		background-color: #ff5722
		border: 1px solid #ff5722
		border-radius: 7px
	&__download
		width: 30px
		height: 30px
		background: url(../../img/icon_download.png) no-repeat;
		background-size: contain;
	// &__colorPicker
	// 	width: 30px
	// 	height: 30px
	// 	background: url(../../img/icon_colorpicker.png) no-repeat;
	// 	background-size: contain;
.s_tableNavBar
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px 	
.s_docName
	position: relative
	text-align-last: left
	color: #757575;
	margin-top: 15px 
	display: block
	span
		display: block
		margin-bottom: 5px
.s_rightBlock
	max-width: 62%
	width: 100%
	span
		color: #ff5722;
		font-size: x-large;
		
.s_chart
	width: 100%
	padding-top: 20px 
	background-color: #ffffff
	box-shadow: -5px 6px 26px 0px rgba(0,0,0,0.75);

	

.s_downButtons
	margin-bottom: 20px
	background-color: 
	position: relative
	background-color: #FF5722
	padding: 5px
	border-radius: 10px
	color: #fff
	cursor: pointer
	





 


	