@import "base/general"

body
	text-align: center;
	color: white
	font-family: sans-serif;
	background-color: #f1f2f2 
.s_nav
	margin-bottom: 30px
.s_header
	height: 75px
	width: 100% 
	background-color: #3f51b5; 
	margin-bottom: 70px
.s_content
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px 
.s_leftBlock
	display: flex 
	max-width: 32%
	width: 100%
	flex-direction: column;
	min-height: 500px
.s_table
	background-color: #ffffff
	box-shadow: -5px 6px 26px 0px rgba(0,0,0,0.75);
	position: relative 
	padding: 15px
	margin-bottom: 20px

	&__input
		width: 35%
		border: 1px solid grey;
		border-radius: 5px
		font-size: 14px
		color: grey
		padding-left: 5px
		padding-top: 2px
		padding-bottom: 2px
		outline: none
	&__input:focus
		border: 1px solid #ff5722;
	&__button
		width: 30% 
		color: white;
		font-size: 14px;
		font-weight: 500
		background-color: #ff5722
		border: 1px solid #ff5722
		border-radius: 7px
		box-shadow: -2px 2px 10px 0px rgba(0,0,0,0.75) 
	&__colorPicker
		width: 30px
		height: 25px
		background: url(../../img/icon_colorpicker.png) no-repeat;
		background-size: contain;
.s_tableNavBar
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px 	
.s_docName
	position: relative
	text-align-last: left
	color: #757575;
	margin-top: 15px 
	display: block
	span
		display: block
		margin-bottom: 5px
.s_rightBlock
	max-width: 62%
	width: 100%
	span
		color: #ff5722;
		font-size: x-large;
		
.s_chart
	width: 100%
	padding-top: 20px 
	background-color: #ffffff
	box-shadow: -5px 6px 26px 0px rgba(0,0,0,0.75);
	&__maxScreen
		width: 17px
		height: 17px
		display: inline-block
		position: relative;
		left: -20px;
		float: right
		background-image: url(../../img/icon_maxScreen.png)
		background-size: contain    


	



 


	